################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2DArrayFun/.vs/2DArrayFun/FileContentIndex/7dd8f38b-4087-4a8b-ac2c-3c1cde2f11ea.vsidx
