################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2DArrayFun/.vs/2DArrayFun/FileContentIndex/7dd8f38b-4087-4a8b-ac2c-3c1cde2f11ea.vsidx
/2DArrayFun/.vs/2DArrayFun/FileContentIndex/48be113d-d067-4017-9c94-5cb91e462299.vsidx
/2DArrayFun/.vs/2DArrayFun/FileContentIndex/723f7e7c-837f-40e0-bdea-d63688a0ce10.vsidx
/ArrayData/.vs/ArrayData/FileContentIndex/8ff8ba69-a633-4554-8fcd-f31454749769.vsidx
/ArrayData/.vs/ArrayData/FileContentIndex/caab3064-6150-4acb-8d7b-6a5e59ce1448.vsidx
/ArrayData/.vs/ArrayData/v17/Browse.VC.opendb
/VectorData/.vs/VectorData/FileContentIndex
/WeightTracking/.vs/WeightTracking/FileContentIndex
/WeightTracking/.vs/WeightTracking/v17/Browse.VC.opendb
/FunctionFun1/.vs/FunctionFun1/FileContentIndex
/FunctionFun1/.vs/FunctionFun1/v17/Browse.VC.opendb
/ReturnTypeParameterFun/.vs/ReturnTypeParameterFun/FileContentIndex
/ReturnTypeParameterFun/.vs/ReturnTypeParameterFun/v17/Browse.VC.opendb
/PassingSchemes/.vs/PassingSchemes/FileContentIndex
/PassingSchemes/.vs/PassingSchemes/v17/Browse.VC.opendb
/ScopeChallenge/.vs/ScopeChallenge/FileContentIndex
/ScopeChallenge/.vs/ScopeChallenge/v17/Browse.VC.opendb
/ScopeFun/.vs/ScopeFun/FileContentIndex
