################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2DArrayFun/.vs/2DArrayFun/FileContentIndex/7dd8f38b-4087-4a8b-ac2c-3c1cde2f11ea.vsidx
/2DArrayFun/.vs/2DArrayFun/FileContentIndex/48be113d-d067-4017-9c94-5cb91e462299.vsidx
/2DArrayFun/.vs/2DArrayFun/FileContentIndex/723f7e7c-837f-40e0-bdea-d63688a0ce10.vsidx
